set -e
if ! pyenv local $(cat .python-version); then
    log_error "Failed to activate pyenv version $(cat .python-version)."
    log_error "Please ensure pyenv works and has the required python version:"
    log_error "# pyenv install $(cat .python-version) && direnv allow"
    exit 1
fi
export POETRY_VIRTUALENVS_IN_PROJECT=1
poetry env use "$(pyenv root)/versions/$(cat .python-version)/bin/python"
poetry install --sync --dry-run --no-ansi 2>&1 | grep '0 installs, 0 updates, 0 removals' || log_error "Poetry out of sync!"
export VIRTUAL_ENV=$(poetry env info --path)
PATH_add "$VIRTUAL_ENV/bin"
export POETRY_ACTIVE=1

